body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(41,41,42);
  background: radial-gradient(circle, rgba(41,41,42,1) 0%, rgba(17,15,15,1) 48%, rgba(24,24,24,1) 100%);
}

.box {
  position: relative;
  height: 80px;
  width: 80px;
  background: transparent;
  border: 2px solid white;
  border-radius: 3px;
  overflow: hidden; 
}

#check {
  position: absolute;
  display: none;
}

.box label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  font-size: 14px;
  margin-top: 28px;
  text-align: center;
  line-height: 24px;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.box label::before {
  content: '';
  position: absolute;
  width: 140px;
  height: 140px;
  background: rgb(9,9,170);
  background: linear-gradient(59deg, rgba(9,9,170,1) 0%, rgba(0,212,255,1) 100%);
  left: 40px;
  top: 85%;
  transform: translate(-50%);
  border-radius: 45px;
  transition: all 3s ease-in-out;
  z-index: -1;
}

#check:checked ~ label::before {
  top: 30px;
  transform: translate(-60%, -60%) rotate(360deg);
}
