body {
  height: 100vh;
  background: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  height: 10px;
  width: 10px;
  background: rgb(255,134,0);
  background: radial-gradient(circle, rgba(255,134,0,1) 0%, rgba(253,63,2,1) 47%, rgba(252,9,3,1) 88%);
  border-radius: 50%;
  box-shadow: 0px 2px 19px 0px rgba(153,153,147,1);

  animation: spin 3s linear infinite;
}

.spinner span {
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  background: rgb(255,237,0);
  background: radial-gradient(circle, rgba(255,237,0,1) 0%, rgba(254,151,1,1) 34%, rgba(252,9,3,1) 100%);
  border: .5px solid red;
}

.spinner span:nth-child(1) {
  margin-top: 10px;
  margin-left: -10px;
  border-radius: 900px 50px;
}
.spinner span:nth-child(2) {
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50px 900px;
}
.spinner span:nth-child(3) {
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 900px 50px;
}
.spinner span:nth-child(4) {
  margin-top: 9.3px;
  margin-left: 9px;
  border-radius: 50px 900px;
}
.spinner span:nth-child(5) {
  margin-top: -14px;
  margin-left: -0.3px;
  border-radius: 50px 900px;
  transform: rotate(45deg);
}
.spinner span:nth-child(6) {
  margin-top: 13px;
  margin-left: -0.3px;
  border-radius: 50px 900px;
  transform: rotate(45deg);
}
.spinner span:nth-child(7) {
  margin-top: 0px;
  margin-left: -14px;
  border-radius: 50px 900px;
  transform: rotate(137deg);
}
.spinner span:nth-child(8) {
  margin-top: 0px;
  margin-left: 13px;
  border-radius: 50px 900px;
  transform: rotate(135deg);
}
 
@keyframes spin {
  0% {
    transform: scale(.9) rotate(360deg);
  }
  50% {
    transform: scale(1.2) rotate(80deg);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(.9) rotate(-360deg);
  }
}  