body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #1C1C1C ;
}

.alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load {
  height: 50px;
  width: 50px;
  color: white;
  background: linear-gradient(127deg, rgba(250,4,4,1) 5%, rgba(252,52,3,1) 11%, rgba(255,149,0,1) 18%, rgba(249,238,4,1) 26%, rgba(223,249,4,1) 35%, rgba(120,249,4,1) 42%, rgba(4,249,172,1) 45%, rgba(4,239,249,1) 56%, rgba(38,144,255,1) 65%, rgba(4,9,249,1) 72%, rgba(204,18,244,1) 85%, rgba(245,24,240,1) 89%, rgba(245,24,177,1) 96%);

  border-radius: 10px;
  
  animation: load 1s alternate infinite;
  transition: 2s;
}

@keyframes load {
  0%{
    transform: rotateX(0deg) 
    rotateY(0deg);
  }
  100% {
    transform: rotateX(0deg)
    rotateY(180deg);
    box-shadow: 0px 0px 10px -2px rgba(235, 232, 232, 0.856);
  }
}
