* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-animate{
  height: 100vh;
  background: linear-gradient(to bottom, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 50px;
  font-family: Nunito, sans-serif;
  color: white;
  width: 300px;
}

.animate-box{
  position: absolute;
  top: -180px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.animate-box li {
  position: absolute;
  display: block;
  border-radius: 5px;
  list-style: none;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  animation: floating 15s linear infinite;
  
}

.animate-box li:nth-child(1) {
  left: 80%;
  height: 20px;
  width: 20px;
  animation-delay: 0s;
}

.animate-box li:nth-child(2) {
  left: 60%;
  height: 60px;
  width: 60px;
  animation-delay: 3s;
  animation-duration: 9s;

}

.animate-box li:nth-child(3) {
  left: 60%;
  height: 30px;
  width: 30px;
  animation-delay: 5s;
}

.animate-box li:nth-child(4) {
  left: 70%;
  height: 45px;
  width: 45px;
  animation-delay: 3s;
  animation-duration: 10s;
}

.animate-box li:nth-child(5) {
  left: 40%;
  height:40px;
  width: 40px;
  animation-delay: 8s;
}

.animate-box li:nth-child(6) {
  left: 30%;
  height: 50px;
  width: 50px;
  animation-delay: 6s;
}

.animate-box li:nth-child(7) {
  left: 15%;
  height: 100px;
  width: 100px;
  animation-delay: 4s;
}

.animate-box li:nth-child(8) {
  left: 85%;
  height: 90px;
  width: 90px;
  animation-delay: 0s;
}

.animate-box li:nth-child(9) {
  left: 10%;
  height: 50px;
  width: 50px;
  animation-delay: 8s;
}

.animate-box li:nth-child(10) {
  left: 15%;
  height: 60px;
  width: 60px;
  animation-delay: 10s;
}

@keyframes floating {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(800px) rotate(360deg);
  }
}