body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background: #ccc;
}

ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px !important;
}


ul li:hover span {
    box-shadow: -1px 1px 1px rgba(0, 0, 0.1);
}

ul li:hover span:nth-child(6) {
    transform: translate(50px, -50px);
    opacity: 1;
}

ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

ul li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: 2;
}

/*---CORES---*/

ul li:nth-child(1) span {
    background: #3b5998;
}

ul li:nth-child(2) span {
    background: #00acee;
}

ul li:nth-child(3) span {
    background: #db4a39;
}

ul li:nth-child(4) span {
    background: #0e76a8;
}

ul li:nth-child(5) span {
    background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

ul li:nth-child(6) span {
    background: #24292e;
}